@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure V2</h1>
    <p class="lead">Example .NET app to Azure App Service. V2</p>
</div>